<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title || 'Untitled' %></title>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="page"></div>
    </body>
</html>