.buy.button {
       //background-image: url("/assets/");
       width: 400px;
       height: 600px;
       background-size: cover;
       display: inline-block;
}

.home-page {
        text-align: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        height: 0px;
}