/*!
 * --------------------------------------------------------------------------------
 * Author: Spencer Killen & Alan Yong
 * Date: Sun Nov 13 2016
 * --------------------------------------------------------------------------------
 */
body {
  width: 100%;
  margin: auto;
  background: #EB712F;
  font-size: 40px; }

img {
  max-width: 100%;
  display: block;
  margin: auto; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#loading {
  display: none;
  position: fixed;
  left: 40%;
  top: 40%; }

.creme-control {
  position: fixed;
  right: 30px;
  top: 100px; }

#creme-display {
  background-image: url("/assets/creme.jpg");
  background-repeat: repeat-y;
  display: inline-block;
  height: 700px;
  width: 125px; }

input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 900px;
  padding: 0 5px; }

.feedback {
  position: fixed;
  left: 0px;
  top: 250px;
  width: 700px;
  text-align: center;
  max-height: 500px;
  overflow-y: scroll;
  font-size: 30px; }
  .feedback div {
    padding: 40px;
    border-bottom: 3px solid orange;
    background: gold;
    animation-name: appear;
    animation-duration: 1s; }

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px; }

.spacing {
  height: 300px; }

.buy.button {
  background-image: url("/assets/coffeeCup.png");
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  background: #EB712F;
  height: 600px;
  margin-right: 50%; }

.home-page {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  height: 0px; }

#coffee, #shop {
  border: solid black 3px;
  border-radius: 30px;
  padding: 5px;
  font-size: 90px; }

p {
  display: inline-block;
  padding: 5px;
  font-size: 50px;
  color: #333333;
  font-family: "Arial Black", Gadget, sans-serif;
  font-style: italic; }

h1 {
  display: inline-block;
  padding: 5px;
  font-size: 36px;
  color: #333333;
  font-family: "Arial Black", Gadget, sans-serif;
  font-style: italic; }

#mainBut {
  background: #EB712F;
  border: solid-black; }

.cup {
  height: 600px; }

@media only screen and (min-width: 0px) {
  /* For phones: */
  .col-p-0 {
    width: 0%; }
  .col-p-1 {
    width: 8.33%; }
  .col-p-2 {
    width: 16.66%; }
  .col-p-3 {
    width: 25%; }
  .col-p-4 {
    width: 33.33%; }
  .col-p-5 {
    width: 41.66%; }
  .col-p-6 {
    width: 50%; }
  .col-p-7 {
    width: 58.33%; }
  .col-p-8 {
    width: 66.66%; }
  .col-p-9 {
    width: 75%; }
  .col-p-10 {
    width: 83.33%; }
  .col-p-11 {
    width: 91.66%; }
  .col-p-12 {
    width: 100%; } }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-0 {
    width: 0%; }
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.33%; }
  .col-m-11 {
    width: 91.66%; }
  .col-m-12 {
    width: 100%; } }

@media only screen and (min-width: 1200px) {
  /* for DeskTops: */
  .col-0 {
    width: 0%; }
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

.row:after {
  content: "";
  clear: both;
  display: block; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

* {
  box-sizing: border-box; }

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }
