<div class="home-page">
        <div>username: {{username}}</div>
        <div>password: {{password}}</div>
        <h1>Press to order</h1>
        <div class="sel">
                <select id="coffee">
                        <option value="Black">Black</option>
                        <option value="Double Double">Double Double</option>
                </select>
                from
                <select id="shop">
                        <option value="Timmy's">Timmy's</option>
                        <option value="Not Timmy's">Not Timmy's</option>
                </select>
        </div>
        <button>
                <div class="buy button"></div>
        </button>
        <div class="feedback">
                
        </div>
</div>