<div>username: {{username}}</div>
<div class="home-page">
        <h1>Press cup to order</h1>
        <div class="sel">
                <select id="coffee">
                        <option value="Dark Roast">Dark Roast</option>
                        <option value="Mild Roast">Mild Roast</option>
                </select>
                <p>from</p>
                <select id="shop">
                        <option value="Timmy's">Timmy's</option>
                        <option value="Not Timmy's">Not Timmy's</option>
                </select>
        </div>
</div>

<div class="spacing"></div>
<div class="row">
        <div class="col-3 col-m-4 col-p-4">
                <img src="/assets/leaves.png">
        </div>
        <div class="col-6 col-m-4 col-p-4">
                <div class="buy button">
                        <img src="/assets/coffeeCup.png" class="cup">
                </div>
                <div class="creme-control">
                        <div id="creme-display"></div>
                        <input id="creme" type="range" orient="vertical" />
                </div>
                <div class="sugar-control">
                        <div id="sugar-display"></div>
                        <input id="sugar" type="range" orient="vertical" />
                </div>
        </div>

        <div class="col-3 col-m-4 col-p-4">
                <img src="/assets/leaves2.png">
        </div>

        <div class="feedback">

        </div>