<div class="home-page">
        <h1>Press to order</h1>
        <div class="sel">
                <select id="coffee">
                        <option value="Black">Black</option>
                        <option value="Double Double">Double Double</option>
                </select>
                <p>from</p>
                <select id="shop">
                        <option value="Timmy's">Timmy's</option>
                        <option value="Not Timmy's">Not Timmy's</option>
                </select>
        </div>
        <img src = "/assets/leaves.png">
        
         <div class="buy button"></div>

        <img src = "/assets/leaves2.png">

        <div class="feedback">
                
        </div>
</div>