<div class="login" />
        <h1>Enter Credentials</h1>
        <br />
        <input placeholder="username" id="username" type="username" />
        <input placeholder="password" id="password" type="password" />
        <button class="button login" >Login</button>
        <br />
        <input placeholder="first name" id="first_name" type="name" />
        <input placeholder="last name" id="last_name" type="name" />
        <button class="button signup" >Sign up</button>
        {{status}}
</div>