<div class="login" />
        <h1>Enter Credentials</h1>
        <input id="username" type="username" />
        <input id="password" type="password" />
        <button class="button login" >Login</button>
        <br />
        <input id="name" type="name" />
        <button class="button signup" >Sign up</button>
        {{status}}
</div>